In [15]:
import sqlite3 as sql #no need to pip install

In [16]:
con = sql.connect('database1.db') #if database.db doesn't exist in the directory python will create it

In [17]:
with con:
    con.execute("""
                CREATE TABLE DFS (
                dfid INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT,
                email TEXT NOT NULL,
                company TEXT NOT NULL,
                aboutdf TEXT,
                private BOOL
                );
    """)

Inserting multiple records

In [20]:
sql = 'INSERT INTO DFS (dfid, email, company, aboutdf, private) values (?, ?, ?, ?, ?)'
data = [
    (1, 'thesarthakrastogi@gmail.com', 'Sarthak', 'Private company sales data', 'True'),
    (2, 'sarthak_rastogi@icloud.com', 'SarthakRastogi', 'Marketing analysis', 'True'),
    (3. 'ayesha@icloud.com', 'Ayesha', 'Feb customers', 'False')
]

In [21]:
with con:
    con.executemany(sql, data)

Queries

In [27]:
with con:
    data = con.execute('SELECT * FROM DFS WHERE company = "Sarthak"')
    for row in data:
        print(row)

(1, 'thesarthakrastogi@gmail.com', 'Sarthak', 'Private company sales data', 'True')

Integrating with Pandas

In [28]:
import pandas as pd
dfppl = pd.DataFrame({
    'Name': ['Sarthak', 'Ayesha', 'Sameer', 'Mya'],
    'Location': ['Toronto', 'Sydney', 'Boston', 'Ottawa']
})

In [31]:
dfppl.to_sql('dfppl', con)

In [34]:
df = pd.read_sql("""
        SELECT p.Name, d.email
        FROM dfppl p LEFT JOIN DFS d ON p.Name = d.company

""", con)

https://towardsdatascience.com/do-you-know-python-has-a-built-in-database-d553989c87bd

In [35]:
df

      Name                        email
0  Sarthak  thesarthakrastogi@gmail.com
1   Ayesha                         None
2   Sameer                         None
3      Mya                         None